.why-us {
  text-align: center;
}

.inner-padding {
  padding: 1rem 4rem;
}

.why-us > .waves {
  transform: rotate(180deg);
}

.reason {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  color: var(--white100);
  background-color: var(--brown200);
}

.reason .icon {
  margin: auto;
}

.reason h3 {
  margin: .5rem 0px;
}

@media screen and (max-width: 1100px) {
  .reason {
    padding: .5rem;
  }

  .inner-padding {
    padding: 1rem;
  }
}

@media screen and (max-width: 464px) {
  .inner-padding {
    padding: 0px 1rem;
  }

  .reason {
    background-color: #fff;
    color: #000000;
    margin-bottom: 1.5rem;
  }

  .reason p {
    padding: 0 1rem;
  }
}