.why-us {
  text-align: center;
}

.inner-padding {
  padding: 0px 4rem;
}

.why-us > .waves {
  transform: rotate(180deg);
}

.reason {
  width: 100%;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  color: var(--white100);
  background-color: var(--brown200);
}

.reason h3 {
  margin: .5rem 0px;
}

@media screen and (max-width: 464px) {
  .inner-padding {
    padding: 0px 1rem;
  }

  .reason {
    background-color: #fff;
    color: #000000;
    margin-bottom: 1.5rem;
  }

  .reason p {
    padding: 0 1rem;
  }

  .custom-dot {
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 0px 4px;
    border-radius: 50px;
  }

  .dot-active {
    background-color: var(--orange100);
  }
  
  .dot-inactive {
    background-color: var(--brown100);
  }

  .custom-arrow {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    position: absolute;
  }
  
  .arrow-left {
    left: 10px;
  }

  .arrow-left img {
    transform: rotate(-180deg);
  }
  
  .arrow-right {
    right: 10px;
  }
}