footer {
  padding: 4rem;
  background-color: var(--brown200);
  text-align: center;
}

@media screen and (max-width: 464px) {
  footer {
    padding: 1rem;
  }

  footer h1 {
    font-size: 2rem;
  }

  footer .about-us {
    font-size: .7rem;
  }
}