footer {
  background-color: var(--brown200);
}

.content {
  padding: 4rem;
  padding-top: 0rem;
  text-align: center;
}

.made-by {
  width: 100%;
  padding: .5rem;
  text-align: center;
  background-color: black;
  color: var(--white100);
}

@media screen and (max-width: 464px) {
  .content {
    padding: 1rem;
    padding-top: 0rem;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content .about-us {
    font-size: .5rem;
  }
}