.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/lp-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.inner {
  width: fit-content;
  margin: auto;
  padding-top: 4rem;
  text-align: center;
  height: 100%;
  text-align: center;
}

.hero p {
  color: var(--brown300);
}

.hero button {
  color: var(--white100);
  background-color: var(--brown200);
  margin-top: 2rem;
}

@media screen and (max-width: 464px) {
  .hero h3 {
    margin-bottom: .5rem;
  }

  .inner p {
    max-width: 90%;
  }

  .inner {
    padding-top: 20vh;
  }

  .hero .inner button {
    margin-top: auto;
    margin-bottom: 15vh;
  }
}