.order {
  padding: 17rem 4rem 4rem 4rem;
  text-align: center;
}

#order-section {
  margin-bottom: 2rem;
}

.order-options {
  position: relative;
  width: 400px;
  height: 100%;
  padding: 2rem 0px;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  border-top: 1px solid var(--orange100);
  border-left: 1px solid var(--orange100);
}

.order-options p {
  font-size: .8rem;
  line-height: 1.5rem;
}

.order-options button {
  margin: 1rem auto;
  border: 2px solid var(--orange100);
}

.carousel-items:nth-child(2) .order-options {
  height: calc(100% + 50px);
  transform: translateY(-50px);
}

.Gold {
  background: var(--orange100);
  color: #fff;
}

.order-step .icon{
  margin: auto;
}

.order-step h3 {
  margin-top: .5rem;
}

.gold {
  padding-top: 2rem;
}

.best-deal {
  background: var(--orange100);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: absolute;
  width: calc(100% + 2px);
  top: -1px;
  left: -1px;
  padding: 8px 0px;
  color: #fff;
  font-weight: 500;
}

.whatsapp {
  margin-right: 12px;
}

@media screen and (max-width: 464px) {
  .order {
    padding: 4rem 0px;
    padding-bottom: 2rem;
  }

  .order .mb-4 {
    margin-bottom: 1.5rem;
  }

  #order-section {
    margin-bottom: 0px;
  }

  .order-step {
    padding: 1rem;
    padding-bottom: 1.2rem;
  }

  .order-options {
    padding: 1rem 0px;
    box-shadow: 0px 9px 14px -7px rgb(0 0 0 / 28%);;
  }

  .order-options p {
    font-size: .7rem;
    line-height: 1.2rem;
  }

  .order-options button {
    font-size: .7rem;
    padding: 8px 1rem;
    border-width: 1px;
  }

  .gold {
    padding-top: 1.5rem;
  }

  .carousel-container {
    width: 100%;
  }

  .carousel-items {
    display: flex;
    padding: 0px 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
  }
}